﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyGameShop.Web.Models.Publisher

@{
    ViewBag.Title = "PubsDetails";
}

<h1>A publisher részletes adatai</h1>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>Azonosító</td>
        <td>@Html.DisplayFor(m => m.PublisherId)</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>@Html.DisplayFor(m => m.Country)</td>
    </tr>
    <tr>
        <td>CEO</td>
        <td>@Html.DisplayFor(m => m.CEO)</td>
    </tr>
    <tr>
        <td>Does Sales</td>
        <td>@Html.DisplayFor(m => m.DoesSales)</td>
    </tr>
    <tr>
        <td>Is Triple A</td>
        <td>@Html.DisplayFor(m => m.TripleA)</td>
    </tr>
</table>
