﻿@model MyGameShop.Web.Models.PubViewModel

@{
    ViewBag.Title = "Crud Index";
}

<h2>Pubs Index</h2>

<p style="color:red">
    @TempData["editResult"]
</p>

@await Html.PartialAsync("PubsEdit", Model.EditedPub)

@await Html.PartialAsync("PubsList", Model.ListOfPubs)