﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<MyGameShop.Web.Models.Publisher>
@{
    ViewBag.Title = "PubsList";
}
<h1>Az összes publisher listája</h1>

@if (Model.Count() == 0)
{
    <p>No data in the database!!!</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().CEO)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => item.Name)</td>
                <td>@Html.DisplayFor(m => item.CEO)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = item.PublisherId })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = item.PublisherId })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = item.PublisherId })</td>
            </tr>
        }
    </table>
}