﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyGameShop.Web.Models.Publisher
@{
    ViewBag.Title = "PubsEdit";
}

<h1>Az publisher adatainak módosítása</h1>
@using (Html.BeginForm("Edit", "Pubs"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.PublisherId)
    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.CEO)</div>
    <div class="editor-field">@Html.EditorFor(m => m.CEO)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Country)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Country)</div>

    <input type="submit" value="SEND" />
}
